.item-card-frame {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #112b3a;
    justify-items: left;
}
.item-card-img-frame {
    justify-items: left;
    border-color: 5px solid white;
}
.item-card-img {
    object-fit: cover;
    width: 45%;
    max-width: 250px;
    justify-items:left;
    padding: 10px;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    border-color: 1px solid black;
}
.item-card-title {
    font-size:large;
    color: rgb(243, 243, 243);
}
.item-card-location {
    font-size:medium;
}