
.rti--container {
    margin: 4px;
    --rti-s: .5rem;
    --rti-bg: "#fff",
    --rti-border: "#ccc",
    --rti-main: "#3182ce",
    --rti-radius: "0rem",
    --rti-s: "2rem", /* spacing */
    --rti-tag: "#edf2f7",
    --rti-tag-remove: "#e53e3e",
  }